
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f6f7
  }

  header, h5 {
    color: #002ead;
  }
  
  #navbar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0A0A23;
    overflow-x: hidden;
    padding-top: 20px;
    viewport-fit: auto;
  }
  
  #navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  #navbar a:hover {
    color: #EEEEEE;
  }
  
  #main-doc {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    #navbar {padding-top: 15px;}
    #navbar a {font-size: 18px;}
  }

  code, code pre{
    background-color: lightgray;
  }

  mark {
    background-color: lightgray;
  }

  @media (min-width:960px) { 
    body { font-size:1.2rem;
      
    } 

    code, code pre {
      padding-right: 15px;
    }
  } 
  @media (min-width:1100px) { 
    body { font-size:1.5rem;
      
    } 
  } 
  @media screen and (min-width:360px) {
    code, code pre {
      display: inline-block;
    }
  }

  footer a:link, footer a:visited {
    color: hsl(236, 41%, 50%);
  }